<%= render 'inc/navbar' %>

<div class="bg-green-400 p-5">
    <div class="container mx-auto flex flex-row items-center text-white">
        <p class="text-3xl font-mono">
            About
        </p>
        <p class="text-normal ml-auto font-mono">
            Home   <span class="mx-2">
                <%= icon('fas','caret-right', class: 'strong') %>
            </span> About
        
        </p>
    </div>
</div>
<%= render 'inc/about'%>
<%= render 'inc/footer'%>