<hr class="my-10">
<div class="pb-8 pt-3">
<div class="container mx-auto text-center mb-3">
  
  <%= link_to 'https://www.facebook.com/henry.hvo', class:"text-2xl mr-3", target: "_blank" do %>
  <%= icon('fab','facebook', class: 'strong') %>
  <%end %>
    <%= link_to 'https://www.instagram.com/henryvo10/', class:"text-2xl", target: "_blank" do %>
  <%= icon('fab','instagram', class: 'strong') %>
  <%end %>
</div>

<p class="text-center">© 2020 HENRY VO ART. ALL RIGHTS RESERVED</p>
</div>
