  
<div class="hero-content absolute top-1/2 left-1/2  uppercase ">
  <div class="text-3xl text-white mb-10 font-hairline text-center hero-top">Hi, my name is <span class="text-green-400 font-bold mx-1">Henry</span> and I love</div>
  <div class="hero-bottom">
    <p class="text-white text-5xl font-light text-left bg-green-400 px-5 inline-block">Sketching </p>
    <p class="text-white text-5xl font-light text-left inline-block mx-2">& </p>
    <p class="text-white text-5xl font-light text-right bg-green-400 px-5 inline-block "> Painting</p>
  </div>
</div>
